# Ignore config files
config.yaml

# Ignore dataset
data

# Ignore models
models/*

# Ignore test notebooks
test.ipynb

# Ignore pycache files
*.pyc

# Ignore venv dir
.venv_srgan


# Except .gitkeep in order for the folders to be commited
!.gitkeep
!src/data