# Ignore config files
config.yaml

# Ignore dataset
data

# Ignore models
models/*

# Ignore test notebooks
test.ipynb

# Ignore pycache files
*.pyc
*.swp

# Ignore any venv dir
.venv*

# Ignore figures content
figures/*

# Ignore saved arrays and logs
*.npy
*.log

# Except .gitkeep in order for the folders to be commited
!.gitkeep
!src/data