/.venv_srgan
/dataset
/new_data
*ipynb*
/__pycache__
/saved
*pth.tar*
/low_res

/figures/*
/datasets/training/*
/datasets/validation/*
/datasets/testing/*
/checkpoints/*

# Except .gitkeep in order for the folders to be commited
!.gitkeep
